* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 .5rem;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.white-text {
  color: white;
}

/* 







Header Nav






*/

header nav{
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #202124;
  padding: 0px 10px;
  font-size: 13px;
 
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-img {
  padding: 0 1.3rem;
}

button.nav-sign-in {
  height: 36px;
  width: 96px;
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

/* 







Search Area






*/

#search-area {
  margin-top: 5rem;

}

.logo {
  text-align: center;
}

.search-input-container {
  text-align: center;
  position: relative;
  margin-top: 2rem;
}

.magnify-glass {
  position: absolute;
  left: 29%;
  top: 37%;
}

.microphone {
  position: absolute;
  left: 68%;
  top: 37%;
}

.camera {
  position: absolute;
  left: 70%;
  top: 37%;
}

input {
width: 45%;
height: 55px;
border-radius: 25px;
border: 1px solid lightgray ;
padding-left: 45px;
font-size: 15px;
}

input:focus {
  outline: none;
  
}

.search-buttons {
  margin-top: 2rem;
  text-align: center;
}

.search-btn {
  margin: 0 4px;
  color: #3c4043;
  background-color: #F8f9fa;
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 140px;
  cursor: pointer;
  transition: all .1s ;
}

.search-btn:hover {
  border: 1px solid lightgrey;
}

/* 







Footer






*/

footer {
  background-color: #F2F2F2;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
}

footer a {
  color: #707579;
  padding: 0 10px;
  font-size: 14px;
}


@media screen and (max-width: 480px) {

  input {
width: 90%;

}

.magnify-glass {
  position: absolute;
  left: 10%;
}

.microphone {
  position: absolute;
  left: 86%;

}

.camera {
  position: absolute;
  left: 79%;

}

footer {
flex-direction: column;
}

footer ul {
  padding: 7px 0px;
}

}